.container {
  height: 500px;
  width: 500px;
  border: solid black 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 70%;
  -webkit-border-radius: 70%;
  -moz-border-radius: 70%;
  -ms-border-radius: 70%;
  -o-border-radius: 70%;
  height: 330px;
  width: 330px;
  padding: 3px;
  border: 18px solid rgba(213, 22, 86, 100%);
  /* background-color: black; */
}
